main{
    display: flex;
    justify-content: center;
}

.headline{
    position:absolute;
    top: 25vh;
    color:blanchedalmond;
}

form {
    width: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.caixa {
    display: flex;
    flex-direction: column;
    gap: 1vh; /* Espaçamento entre label e input */
    margin-bottom: 80px;
    align-items: center;
}

.caixa label, .caixa input {
    width: 100%; /* Garante que ocupem toda a largura do contêiner */
    margin-top: 15px;
}

button {
    margin-top: 30px; /* Adiciona espaçamento acima do botão */
    margin-bottom: 30px;
}


.container__login__info__campo_texto{
    width: 300px;
    height: 30px;
    border: 5px solid;
    border-color: var(--cor-borda);
    border-radius: 5px;
    background-color: var(--cor-terciaria);
    font-size: 1.2vw;
}


.container__login__botao{
    width: 110px;
    height: 35px;
    font-size: 0.5rem;
    border: 5px solid;
    border-color: var(--cor-borda);
    background-color: var(--cor-terciaria);
    border-radius: 5px;
    cursor: pointer;
}

.container__login__botao:hover{
    background-color: var(--cor-hover);
    border-color: var(--cor-hoverBorda);
    transition: 0.5s;
}