main{
    display: flex;
    justify-content: center;
}

.headline{
    position:absolute;
    top: 25vh;
    color:blanchedalmond;
}

form {
    width: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.caixa {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre label e input */
    margin-bottom: 80px;
}

.caixa label, .caixa input {
    width: 100%; /* Garante que ocupem toda a largura do contêiner */
    margin-top: 15px;
}

button {
    margin-top: 30px; /* Adiciona espaçamento acima do botão */
    margin-bottom: 30px;
}

